.homes{
  grid-column: center-start/center-end;
  display: grid;
  margin: 15rem 0;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}
.home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__img{
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1;
  }
  &__like{
    grid-row: 1/2;
    grid-column: 2/3;
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    z-index:2;
    justify-self: end;
    margin: 1rem;
  }
  &__location,
  &__rooms,
  &__area,
  &__price{

    svg{
      fill: $color-primary;
      height: 2rem;
      width: 2rem;
    }
  }
  &__btn{
    grid-column: 1/-1;
  }
}